{% extends "base.html" %}
{% block content %}

<div class="screen"><img src="https://assets.codepen.io/567707/mockup-iphone.png"/>
    <div class="screen__inner">
      <div class="screen__header logo">Sparks</div>
      <div class="screen__middle bg-red">
        <p class="question">Hi Ash, how are you today?</p>
        <ul class="choices">
          <li>Happy</li>
          <li>Optimistic</li>
          <li>Motivated</li>
          <li>Neutral</li>
          <li>Demotivated</li>
          <li>Sad</li>
          <li>Jaded</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="screen"><img src="https://assets.codepen.io/567707/mockup-iphone.png"/>
    <div class="screen__inner">
      <div class="screen__header logo">Sparks</div>
      <div class="screen__middle bg-yellow">
        <p class="question">So you are feeling sad today?</p>
        <p class="subheader">62 resources found.</p>
        <div class="bg-purple">
          <ul class="items">
            <li>8 Quick Actions</li>
            <li>15 Articles</li>
            <li>25 Music Playlists</li>
            <li>5 Podcast Episodes</li>
            <li>9 Videos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}